## Importing Libraries and Data

In [75]:
import pandas as pd

In [76]:
df_trip = pd.read_csv('/home/jabez/Documents/week_8/Logistic-optimization-Delivery-drivers-location-optimisation-with-Causal-Inference-/data/nb.csv')
df_locations = pd.read_csv('/home/jabez/Documents/week_8/Logistic-optimization-Delivery-drivers-location-optimisation-with-Causal-Inference-/data/driver_locations_during_request.csv')

       datetime               icon
0    2021-01-01  partly-cloudy-day
1    2021-01-02               rain
2    2021-01-03               rain
3    2021-01-04               rain
4    2021-01-05               rain
..          ...                ...
725  2022-12-27  partly-cloudy-day
726  2022-12-28  partly-cloudy-day
727  2022-12-29  partly-cloudy-day
728  2022-12-30  partly-cloudy-day
729  2022-12-31  partly-cloudy-day

[730 rows x 2 columns]

# EDA Analysis

In [78]:
df_trip

,Trip ID,Trip Origin,Trip Destination,Trip Start Time,Trip End Time
0,391996,"6.508813001668548,3.37740316890347","6.650969799999999,3.3450307",2021-07-01 07:28:04,2021-07-01 07:29:37
1,391997,"6.4316714,3.4555375","6.4280814653326,3.4721885847586",2021-07-01 06:38:04,2021-07-01 07:07:28
2,391998,"6.631679399999999,3.3388976","6.508324099999999,3.3590397",2021-07-01 06:21:02,2021-07-01 07:02:23
3,391999,"6.572757200000001,3.3677082","6.584881099999999,3.3614073",2021-07-01 07:16:07,2021-07-01 07:29:42
4,392001,"6.6010417,3.2766339","6.4501069,3.3916154",2021-07-01 09:30:59,2021-07-01 09:34:36
...,...,...,...,...,...
536015,1637696,"6.448218499999999,3.4772075","6.437787399999999,3.481670199999999",2021-12-30 20:35:06,2021-12-30 21:02:59
536016,1637702,"6.442320899999999,3.4736868","6.436589333407897,3.5559738188407835",2021-12-30 20:48:13,2021-12-30 21:43:49
536017,1637704,"6.4281982,3.492248","6.448088500000001,3.4775747",2021-12-30 20:51:45,2021-12-30 21:41:32
536018,1637705,"6.5869296,3.3632966","6.637906899999999,3.3339515",2021-12-30 20:48:50,2021-12-30 21:08:28
536019,1637709,"6.647209999999999,3.4851489","6.454915198823159,3.555839938365194",2021-12-30 20:55:38,2021-12-30 22:25:00

In [79]:
df_locations

,id,order_id,driver_id,driver_action,lat,lng,created_at,updated_at
0,1,392001,243828,accepted,6.602207,3.270465,NaN,NaN
1,2,392001,243588,rejected,6.592097,3.287445,NaN,NaN
2,3,392001,243830,rejected,6.596133,3.281784,NaN,NaN
3,4,392001,243539,rejected,6.596142,3.280526,NaN,NaN
4,5,392001,171653,rejected,6.609232,3.288800,NaN,NaN
...,...,...,...,...,...,...,...,...
1557735,1557736,517948,243774,rejected,6.469036,3.566877,NaN,NaN
1557736,1557737,517948,245447,rejected,6.425431,3.527358,NaN,NaN
1557737,1557738,517948,239866,rejected,6.440013,3.525378,NaN,NaN
1557738,1557739,517948,243774,rejected,6.469036,3.566877,NaN,NaN
1557739,1557740,517948,244170,rejected,6.469390,3.572079,NaN,NaN

In [80]:
df_org = df_trip['Trip Origin'].str.split(',', expand=True)
df_org.columns = ['lat_org', 'lon_org']


# Combining the new columns with the original DataFrame
df_trip = pd.concat([df_trip, df_org], axis=1)
df_trip = df_trip.drop('Trip Origin', axis=1)

df_des = df_trip['Trip Destination'].str.split(',', expand=True)
df_des.columns = ['lat_des', 'lon_des']


# # Combining the new columns with the original DataFrame
df_trip = pd.concat([df_trip, df_des], axis=1)
df_trip = df_trip.drop('Trip Destination', axis=1)


df_start = df_trip['Trip Start Time'].str.split(' ', expand=True)
df_start.columns = ['Start_date', 'Start_time']


# Combining the new columns with the original DataFrame
df_trip = pd.concat([df_trip, df_start], axis=1)
df_trip = df_trip.drop('Trip Start Time', axis=1)

df_end = df_trip['Trip End Time'].str.split(' ', expand=True)
df_end.columns = ['End_date', 'End_time']

# Combining the new columns with the original DataFrame
df_trip = pd.concat([df_trip, df_end], axis=1)
df_trip = df_trip.drop('Trip End Time', axis=1)


date= df_trip['Start_date'].str.split('-', expand=True)
date.columns = ['st_year', 'st_month', 'st_date']
df_trip = pd.concat([df_trip, date], axis=1)
df_trip = df_trip.drop('Start_date', axis=1)


df_trip['lat_org'] = df_trip['lat_org'].astype(float)
df_trip['lon_org'] = df_trip['lon_org'].astype(float)
df_trip['lat_des'] = df_trip['lat_des'].astype(float)
df_trip['lon_des'] = df_trip['lon_des'].astype(float)

In [81]:
df_trip

,Trip ID,lat_org,lon_org,lat_des,lon_des,Start_time,End_date,End_time,st_year,st_month,st_date
0,391996,6.508813,3.377403,6.650970,3.345031,07:28:04,2021-07-01,07:29:37,2021,07,01
1,391997,6.431671,3.455538,6.428081,3.472189,06:38:04,2021-07-01,07:07:28,2021,07,01
2,391998,6.631679,3.338898,6.508324,3.359040,06:21:02,2021-07-01,07:02:23,2021,07,01
3,391999,6.572757,3.367708,6.584881,3.361407,07:16:07,2021-07-01,07:29:42,2021,07,01
4,392001,6.601042,3.276634,6.450107,3.391615,09:30:59,2021-07-01,09:34:36,2021,07,01
...,...,...,...,...,...,...,...,...,...,...,...
536015,1637696,6.448218,3.477208,6.437787,3.481670,20:35:06,2021-12-30,21:02:59,2021,12,30
536016,1637702,6.442321,3.473687,6.436589,3.555974,20:48:13,2021-12-30,21:43:49,2021,12,30
536017,1637704,6.428198,3.492248,6.448089,3.477575,20:51:45,2021-12-30,21:41:32,2021,12,30
536018,1637705,6.586930,3.363297,6.637907,3.333951,20:48:50,2021-12-30,21:08:28,2021,12,30
536019,1637709,6.647210,3.485149,6.454915,3.555840,20:55:38,2021-12-30,22:25:00,2021,12,30

## Dealing with Missing Values

In [82]:
df_trip.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 536020 entries, 0 to 536019
Data columns (total 11 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Trip ID     536020 non-null  int64
 1   lat_org     536020 non-null  float64
 2   lon_org     536020 non-null  float64
 3   lat_des     536020 non-null  float64
 4   lon_des     536020 non-null  float64
 5   Start_time  534369 non-null  object
 6   End_date    536019 non-null  object
 7   End_time    536019 non-null  object
 8   st_year     534369 non-null  object
 9   st_month    534369 non-null  object
 10  st_date     534369 non-null  object
dtypes: float64(4), int64(1), object(6)
memory usage: 45.0+ MB

In [83]:
df_trip.isnull().sum()

Trip ID          0
lat_org          0
lon_org          0
lat_des          0
lon_des          0
Start_time    1651
End_date         1
End_time         1
st_year       1651
st_month      1651
st_date       1651
dtype: int64

In [84]:
threshold = 0.05  # Example threshold of 5%
missing_percentage = df_trip.isnull().mean().mean()

if missing_percentage < threshold:
    df_trip = df_trip.dropna()
else:
    
    pass

In [85]:
df_trip.isnull().sum()

Trip ID       0
lat_org       0
lon_org       0
lat_des       0
lon_des       0
Start_time    0
End_date      0
End_time      0
st_year       0
st_month      0
st_date       0
dtype: int64

In [10]:
df_locations.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1557740 entries, 0 to 1557739
Data columns (total 8 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   id             1557740 non-null  int64
 1   order_id       1557740 non-null  int64
 2   driver_id      1557740 non-null  int64
 3   driver_action  1557740 non-null  object
 4   lat            1557740 non-null  float64
 5   lng            1557740 non-null  float64
 6   created_at     0 non-null        float64
 7   updated_at     0 non-null        float64
dtypes: float64(4), int64(3), object(1)
memory usage: 95.1+ MB

In [11]:
df_locations.isnull().sum()

id                     0
order_id               0
driver_id              0
driver_action          0
lat                    0
lng                    0
created_at       1557740
updated_at       1557740
dtype: int64

In [18]:
df_locations.drop(columns=['created_at', 'updated_at'])

              id  order_id  driver_id driver_action       lat       lng
0              1    392001     243828      accepted  6.602207  3.270465
1              2    392001     243588      rejected  6.592097  3.287445
2              3    392001     243830      rejected  6.596133  3.281784
3              4    392001     243539      rejected  6.596142  3.280526
4              5    392001     171653      rejected  6.609232  3.288800
...          ...       ...        ...           ...       ...       ...
1557735  1557736    517948     243774      rejected  6.469036  3.566877
1557736  1557737    517948     245447      rejected  6.425431  3.527358
1557737  1557738    517948     239866      rejected  6.440013  3.525378
1557738  1557739    517948     243774      rejected  6.469036  3.566877
1557739  1557740    517948     244170      rejected  6.469390  3.572079

[1557740 rows x 6 columns]

## Dealing with outliers

In [16]:
import matplotlib.pyplot as plt
import numpy as np

Matplotlib is building the font cache; this may take a moment.

In [15]:
df_trip = df_trip.drop('lon', axis=1)

In [131]:
df_trip.describe()

            Trip ID
count  5.343680e+05
mean   9.900856e+05
std    3.454114e+05
min    3.919960e+05
25%    6.929775e+05
50%    9.898045e+05
75%    1.279707e+06
max    1.637709e+06

In [50]:
df_trip = pd.concat([df_trip, date], axis=1)
df_trip = df_trip.drop('Start_date', axis=1)

In [51]:
df_trip.info()

<class 'pandas.core.frame.DataFrame'>
Index: 534368 entries, 0 to 536019
Data columns (total 9 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Trip ID     534368 non-null  int64
 1   lat_org     534368 non-null  float64
 2   lon_org     534368 non-null  float64
 3   lat_des     534368 non-null  float64
 4   lon_des     534368 non-null  float64
 5   Start_date  534368 non-null  object
 6   Start_time  534368 non-null  object
 7   End_date    534368 non-null  object
 8   End_time    534368 non-null  object
dtypes: float64(4), int64(1), object(4)
memory usage: 40.8+ MB

In [86]:
%store df_trip

Stored 'df_trip' (DataFrame)

/home/jabez/Documents/week_8/Logistic-optimization-Delivery-drivers-location-optimisation-with-Causal-Inference-/env/lib/python3.11/site-packages/IPython/extensions/storemagic.py:229: UserWarning: This is now an optional IPython functionality, setting autorestore/df_trip requires you to install the `pickleshare` library.
  db[ 'autorestore/' + arg ] = obj

## Ading New Features

### Adding Holiday Features

        Trip ID   lat_org   lon_org   lat_des   lon_des Start_time  \
0        391996  6.508813  3.377403  6.650970  3.345031   07:28:04
1        391997  6.431671  3.455538  6.428081  3.472189   06:38:04
2        391998  6.631679  3.338898  6.508324  3.359040   06:21:02
3        391999  6.572757  3.367708  6.584881  3.361407   07:16:07
4        392001  6.601042  3.276634  6.450107  3.391615   09:30:59
...         ...       ...       ...       ...       ...        ...
536015  1637696  6.448218  3.477208  6.437787  3.481670   20:35:06
536016  1637702  6.442321  3.473687  6.436589  3.555974   20:48:13
536017  1637704  6.428198  3.492248  6.448089  3.477575   20:51:45
536018  1637705  6.586930  3.363297  6.637907  3.333951   20:48:50
536019  1637709  6.647210  3.485149  6.454915  3.555840   20:55:38

          End_date  End_time st_year st_month st_date holiday_name
0       2021-07-01  07:29:37    2021       07      01   No holiday
1       2021-07-01  07:07:28    2021       07      01   No holiday
2       2021-07-01  07:02:23    2021       07      01   No holiday
3       2021-07-01  07:29:42    2021       07      01   No holiday
4       2021-07-01  09:34:36    2021       07      01   No holiday
...            ...       ...     ...      ...     ...          ...
536015  2021-12-30  21:02:59    2021       12      30   No holiday
536016  2021-12-30  21:43:49    2021       12      30   No holiday
536017  2021-12-30  21:41:32    2021       12      30   No holiday
536018  2021-12-30  21:08:28    2021       12      30   No holiday
536019  2021-12-30  22:25:00    2021       12      30   No holiday

[534368 rows x 12 columns]

,Unnamed: 0,Trip ID,lat_org,lon_org,lat_des,lon_des,Start_time,End_date,End_time,st_year,st_month,st_date,holiday_name
0,0,391996,6.508813,3.377403,6.650970,3.345031,07:28:04,2021-07-01,07:29:37,2021,7,1,No holiday
1,1,391997,6.431671,3.455538,6.428081,3.472189,06:38:04,2021-07-01,07:07:28,2021,7,1,No holiday
2,2,391998,6.631679,3.338898,6.508324,3.359040,06:21:02,2021-07-01,07:02:23,2021,7,1,No holiday
3,3,391999,6.572757,3.367708,6.584881,3.361407,07:16:07,2021-07-01,07:29:42,2021,7,1,No holiday
4,4,392001,6.601042,3.276634,6.450107,3.391615,09:30:59,2021-07-01,09:34:36,2021,7,1,No holiday
...,...,...,...,...,...,...,...,...,...,...,...,...,...
534363,536015,1637696,6.448218,3.477208,6.437787,3.481670,20:35:06,2021-12-30,21:02:59,2021,12,30,No holiday
534364,536016,1637702,6.442321,3.473687,6.436589,3.555974,20:48:13,2021-12-30,21:43:49,2021,12,30,No holiday
534365,536017,1637704,6.428198,3.492248,6.448089,3.477575,20:51:45,2021-12-30,21:41:32,2021,12,30,No holiday
534366,536018,1637705,6.586930,3.363297,6.637907,3.333951,20:48:50,2021-12-30,21:08:28,2021,12,30,No holiday
534367,536019,1637709,6.647210,3.485149,6.454915,3.555840,20:55:38,2021-12-30,22:25:00,2021,12,30,No holiday

### Adding Enviromental Data

       End_date               icon
0    2021-01-01  partly-cloudy-day
1    2021-01-02               rain
2    2021-01-03               rain
3    2021-01-04               rain
4    2021-01-05               rain
..          ...                ...
725  2022-12-27  partly-cloudy-day
726  2022-12-28  partly-cloudy-day
727  2022-12-29  partly-cloudy-day
728  2022-12-30  partly-cloudy-day
729  2022-12-31  partly-cloudy-day

[730 rows x 2 columns]

In [62]:
df_trip

,End_date,icon,Unnamed: 0,Trip ID,lat_org,lon_org,lat_des,lon_des,Start_time,End_time,st_year,st_month,st_date,holiday_name
0,2021-07-01,rain,0,391996,6.508813,3.377403,6.650970,3.345031,07:28:04,07:29:37,2021,7,1,No holiday
1,2021-07-01,rain,1,391997,6.431671,3.455538,6.428081,3.472189,06:38:04,07:07:28,2021,7,1,No holiday
2,2021-07-01,rain,2,391998,6.631679,3.338898,6.508324,3.359040,06:21:02,07:02:23,2021,7,1,No holiday
3,2021-07-01,rain,3,391999,6.572757,3.367708,6.584881,3.361407,07:16:07,07:29:42,2021,7,1,No holiday
4,2021-07-01,rain,4,392001,6.601042,3.276634,6.450107,3.391615,09:30:59,09:34:36,2021,7,1,No holiday
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
534363,2022-05-19,rain,431404,1345209,6.635022,3.338230,6.460184,3.193621,10:37:32,10:51:50,2022,5,19,No holiday
534364,2022-05-30,partly-cloudy-day,524513,1604908,6.509019,3.387048,6.626393,3.325983,13:26:33,13:39:24,2022,5,30,No holiday
534365,2022-06-03,rain,490664,1488991,6.444520,3.547642,6.606708,3.318793,16:20:25,16:23:19,2022,6,3,No holiday
534366,2022-06-04,partly-cloudy-day,462926,1420310,6.452809,3.433489,6.557231,3.290836,15:17:38,08:49:35,2022,6,3,No holiday
534367,2022-06-13,partly-cloudy-day,509837,1544925,6.521787,3.254033,6.498137,3.351259,10:04:28,10:42:15,2022,6,13,Day off for Democracy Day

         End_date               icon  Unnamed: 0  Trip ID   lat_org   lon_org  \
0      2021-07-01               rain           0   391996  6.508813  3.377403
1      2021-07-01               rain           1   391997  6.431671  3.455538
2      2021-07-01               rain           2   391998  6.631679  3.338898
3      2021-07-01               rain           3   391999  6.572757  3.367708
4      2021-07-01               rain           4   392001  6.601042  3.276634
...           ...                ...         ...      ...       ...       ...
534363 2022-05-19               rain      431404  1345209  6.635022  3.338230
534364 2022-05-30  partly-cloudy-day      524513  1604908  6.509019  3.387048
534365 2022-06-03               rain      490664  1488991  6.444520  3.547642
534366 2022-06-04  partly-cloudy-day      462926  1420310  6.452809  3.433489
534367 2022-06-13  partly-cloudy-day      509837  1544925  6.521787  3.254033

         lat_des   lon_des Start_time  End_time  st_year  st_month  st_date  \
0       6.650970  3.345031   07:28:04  07:29:37     2021         7        1
1       6.428081  3.472189   06:38:04  07:07:28     2021         7        1
2       6.508324  3.359040   06:21:02  07:02:23     2021         7        1
3       6.584881  3.361407   07:16:07  07:29:42     2021         7        1
4       6.450107  3.391615   09:30:59  09:34:36     2021         7        1
...          ...       ...        ...       ...      ...       ...      ...
534363  6.460184  3.193621   10:37:32  10:51:50     2022         5       19
534364  6.626393  3.325983   13:26:33  13:39:24     2022         5       30
534365  6.606708  3.318793   16:20:25  16:23:19     2022         6        3
534366  6.557231  3.290836   15:17:38  08:49:35     2022         6        3
534367  6.498137  3.351259   10:04:28  10:42:15     2022         6       13

                     holiday_name day_type
0                      No holiday  Weekday
1                      No holiday  Weekday
2                      No holiday  Weekday
3                      No holiday  Weekday
4                      No holiday  Weekday
...                           ...      ...
534363                 No holiday  Weekday
534364                 No holiday  Weekday
534365                 No holiday  Weekday
534366                 No holiday  Weekend
534367  Day off for Democracy Day  Weekday

[534368 rows x 15 columns]

In [64]:
df_trip['day_type'].unique()

array(['Weekday', 'Weekend'], dtype=object)

                     icon  Unnamed: 0  Trip ID   lat_org   lon_org   lat_des  \
0                    rain           0   391996  6.508813  3.377403  6.650970
1                    rain           1   391997  6.431671  3.455538  6.428081
2                    rain           2   391998  6.631679  3.338898  6.508324
3                    rain           3   391999  6.572757  3.367708  6.584881
4                    rain           4   392001  6.601042  3.276634  6.450107
...                   ...         ...      ...       ...       ...       ...
534363               rain      431404  1345209  6.635022  3.338230  6.460184
534364  partly-cloudy-day      524513  1604908  6.509019  3.387048  6.626393
534365               rain      490664  1488991  6.444520  3.547642  6.606708
534366  partly-cloudy-day      462926  1420310  6.452809  3.433489  6.557231
534367  partly-cloudy-day      509837  1544925  6.521787  3.254033  6.498137

         lon_des               holiday_name day_type     trip_start_time  \
0       3.345031                 No holiday  Weekday   2021-7-1 07:28:04
1       3.472189                 No holiday  Weekday   2021-7-1 06:38:04
2       3.359040                 No holiday  Weekday   2021-7-1 06:21:02
3       3.361407                 No holiday  Weekday   2021-7-1 07:16:07
4       3.391615                 No holiday  Weekday   2021-7-1 09:30:59
...          ...                        ...      ...                 ...
534363  3.193621                 No holiday  Weekday  2022-5-19 10:37:32
534364  3.325983                 No holiday  Weekday  2022-5-30 13:26:33
534365  3.318793                 No holiday  Weekday   2022-6-3 16:20:25
534366  3.290836                 No holiday  Weekend   2022-6-3 15:17:38
534367  3.351259  Day off for Democracy Day  Weekday  2022-6-13 10:04:28

              trip_end_time
0       2021-07-01 07:29:37
1       2021-07-01 07:07:28
2       2021-07-01 07:02:23
3       2021-07-01 07:29:42
4       2021-07-01 09:34:36
...                     ...
534363  2022-05-19 10:51:50
534364  2022-05-30 13:39:24
534365  2022-06-03 16:23:19
534366  2022-06-04 08:49:35
534367  2022-06-13 10:42:15

[534368 rows x 11 columns]

In [68]:
df_trip

,icon,Unnamed: 0,Trip ID,lat_org,lon_org,lat_des,lon_des,holiday_name,day_type,trip_start_time,trip_end_time
0,rain,0,391996,6.508813,3.377403,6.650970,3.345031,No holiday,Weekday,2021-7-1 07:28:04,2021-07-01 07:29:37
1,rain,1,391997,6.431671,3.455538,6.428081,3.472189,No holiday,Weekday,2021-7-1 06:38:04,2021-07-01 07:07:28
2,rain,2,391998,6.631679,3.338898,6.508324,3.359040,No holiday,Weekday,2021-7-1 06:21:02,2021-07-01 07:02:23
3,rain,3,391999,6.572757,3.367708,6.584881,3.361407,No holiday,Weekday,2021-7-1 07:16:07,2021-07-01 07:29:42
4,rain,4,392001,6.601042,3.276634,6.450107,3.391615,No holiday,Weekday,2021-7-1 09:30:59,2021-07-01 09:34:36
...,...,...,...,...,...,...,...,...,...,...,...
534363,rain,431404,1345209,6.635022,3.338230,6.460184,3.193621,No holiday,Weekday,2022-5-19 10:37:32,2022-05-19 10:51:50
534364,partly-cloudy-day,524513,1604908,6.509019,3.387048,6.626393,3.325983,No holiday,Weekday,2022-5-30 13:26:33,2022-05-30 13:39:24
534365,rain,490664,1488991,6.444520,3.547642,6.606708,3.318793,No holiday,Weekday,2022-6-3 16:20:25,2022-06-03 16:23:19
534366,partly-cloudy-day,462926,1420310,6.452809,3.433489,6.557231,3.290836,No holiday,Weekend,2022-6-3 15:17:38,2022-06-04 08:49:35
534367,partly-cloudy-day,509837,1544925,6.521787,3.254033,6.498137,3.351259,Day off for Democracy Day,Weekday,2022-6-13 10:04:28,2022-06-13 10:42:15

,icon,Unnamed: 0,Trip ID,lat_org,lon_org,lat_des,lon_des,holiday_name,day_type,trip_start_time,trip_end_time
0,rain,0,391996,6.508813,3.377403,6.650970,3.345031,No holiday,Weekday,2021-07-01 07:28:04,2021-07-01 07:29:37
1,rain,1,391997,6.431671,3.455538,6.428081,3.472189,No holiday,Weekday,2021-07-01 06:38:04,2021-07-01 07:07:28
2,rain,2,391998,6.631679,3.338898,6.508324,3.359040,No holiday,Weekday,2021-07-01 06:21:02,2021-07-01 07:02:23
3,rain,3,391999,6.572757,3.367708,6.584881,3.361407,No holiday,Weekday,2021-07-01 07:16:07,2021-07-01 07:29:42
4,rain,4,392001,6.601042,3.276634,6.450107,3.391615,No holiday,Weekday,2021-07-01 09:30:59,2021-07-01 09:34:36
...,...,...,...,...,...,...,...,...,...,...,...
534363,rain,431404,1345209,6.635022,3.338230,6.460184,3.193621,No holiday,Weekday,2022-05-19 10:37:32,2022-05-19 10:51:50
534364,partly-cloudy-day,524513,1604908,6.509019,3.387048,6.626393,3.325983,No holiday,Weekday,2022-05-30 13:26:33,2022-05-30 13:39:24
534365,rain,490664,1488991,6.444520,3.547642,6.606708,3.318793,No holiday,Weekday,2022-06-03 16:20:25,2022-06-03 16:23:19
534366,partly-cloudy-day,462926,1420310,6.452809,3.433489,6.557231,3.290836,No holiday,Weekend,2022-06-03 15:17:38,2022-06-04 08:49:35
534367,partly-cloudy-day,509837,1544925,6.521787,3.254033,6.498137,3.351259,Day off for Democracy Day,Weekday,2022-06-13 10:04:28,2022-06-13 10:42:15

In [72]:
df_trip

,icon,Unnamed: 0,Trip ID,lat_org,lon_org,lat_des,lon_des,holiday_name,day_type,trip_start_time,trip_end_time,speed_kmh
0,rain,0,391996,6.508813,3.377403,6.650970,3.345031,No holiday,Weekday,2021-07-01 07:28:04,2021-07-01 07:29:37,627.350298
1,rain,1,391997,6.431671,3.455538,6.428081,3.472189,No holiday,Weekday,2021-07-01 06:38:04,2021-07-01 07:07:28,3.842195
2,rain,2,391998,6.631679,3.338898,6.508324,3.359040,No holiday,Weekday,2021-07-01 06:21:02,2021-07-01 07:02:23,20.163153
3,rain,3,391999,6.572757,3.367708,6.584881,3.361407,No holiday,Weekday,2021-07-01 07:16:07,2021-07-01 07:29:42,6.701681
4,rain,4,392001,6.601042,3.276634,6.450107,3.391615,No holiday,Weekday,2021-07-01 09:30:59,2021-07-01 09:34:36,349.187758
...,...,...,...,...,...,...,...,...,...,...,...,...
534363,rain,431404,1345209,6.635022,3.338230,6.460184,3.193621,No holiday,Weekday,2022-05-19 10:37:32,2022-05-19 10:51:50,105.577035
534364,partly-cloudy-day,524513,1604908,6.509019,3.387048,6.626393,3.325983,No holiday,Weekday,2022-05-30 13:26:33,2022-05-30 13:39:24,68.598589
534365,rain,490664,1488991,6.444520,3.547642,6.606708,3.318793,No holiday,Weekday,2022-06-03 16:20:25,2022-06-03 16:23:19,642.519826
534366,partly-cloudy-day,462926,1420310,6.452809,3.433489,6.557231,3.290836,No holiday,Weekend,2022-06-03 15:17:38,2022-06-04 08:49:35,1.116533
534367,partly-cloudy-day,509837,1544925,6.521787,3.254033,6.498137,3.351259,Day off for Democracy Day,Weekday,2022-06-13 10:04:28,2022-06-13 10:42:15,17.561123

                     icon  Unnamed: 0  Trip ID   lat_org   lon_org   lat_des  \
8                    rain           8   392014  6.499156  3.358517  6.428091
10                   rain          10   392018  6.446071  3.478035  6.641426
17                   rain          17   392033  6.521411  3.367289  6.638375
56                   rain          57   392117  6.468855  3.634946  6.450564
63                   rain          64   392136  6.460126  3.192317  6.603128
...                   ...         ...      ...       ...       ...       ...
534298  partly-cloudy-day      520242  1580612  6.627720  3.487806  6.458784
534350  partly-cloudy-day      283245  1026231  6.432499  3.553026  6.436349
534354               rain      517946  1570709  6.530983  3.356092  6.647137
534363               rain      431404  1345209  6.635022  3.338230  6.460184
534364  partly-cloudy-day      524513  1604908  6.509019  3.387048  6.626393

         lon_des   holiday_name day_type     trip_start_time  \
8       3.515717     No holiday  Weekday 2021-07-01 06:43:07
10      3.363795     No holiday  Weekday 2021-07-01 06:51:28
17      3.333120     No holiday  Weekday 2021-07-01 07:27:43
56      3.518006     No holiday  Weekday 2021-07-01 08:03:59
63      3.379186     No holiday  Weekday 2021-07-01 10:46:20
...          ...            ...      ...                 ...
534298  3.415552     No holiday  Weekend 2022-01-29 16:01:34
534350  3.467128     No holiday  Weekday 2022-04-11 11:20:21
534354  3.514775  Holy Saturday  Weekend 2022-04-16 13:30:42
534363  3.193621     No holiday  Weekday 2022-05-19 10:37:32
534364  3.325983     No holiday  Weekday 2022-05-30 13:26:33

             trip_end_time   speed_kmh
8      2021-07-01 07:27:24   25.854164
10     2021-07-01 07:45:09   28.078387
17     2021-07-01 07:58:24   26.481685
56     2021-07-01 08:29:00   31.370517
63     2021-07-01 11:39:57   29.160371
...                    ...         ...
534298 2022-01-29 16:40:22   31.562404
534350 2022-04-11 11:41:06   27.472463
534354 2022-04-16 14:12:23   31.340200
534363 2022-05-19 10:51:50  105.577035
534364 2022-05-30 13:39:24   68.598589

[44447 rows x 12 columns]